.aboutus{
	max-width: 100vh;
	min-width: 100%;
	background: $aboutus-bg;
	-webkit-box-shadow: inset 0px 0px 150px 50px rgba(21,179,180,1);
    -moz-box-shadow: inset 0px 0px 150px 50px rgba(21,179,180,1);
    box-shadow: inset 0px 0px 150px 50px rgba(21,179,180,1);
	
	.container{
		height: 700px;
	}

	.aboutus__img{
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		.aboutus__bg{
			padding-top: 3%;
		}
	}

	.aboutus__desc{
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		    
		
		.aboutus__header{
			font: $f-bold 80px $font;
			color: $light-text;
		}
		.aboutus__text{
			color: $light-text;
			width: 80%;
		}
	}
}
