.blog{
	//padding: 0 165px;
	background-color: $blog-bg;
	width: 100%;
	height: 865px;
	position: relative;
	z-index:-2;
	padding: 100px 165px 0;

	-webkit-align-items: center;
	        align-items: center;
	&__header{
		text-align: center;
		width: 570px;
		font: $f-bold 90px $font;
		color: $white;
		margin: 0 auto;
	}
	&__text{
		margin: 50px 0 ;
		font: $f-light 18px $font;
	}
	&__grid{
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
-webkit-justify-content: space-between;
        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		margin-bottom: 50px;
		.tile{
			//width: 24.6%;
			height: 310px;
			margin: 0 15px;
			padding: 20px;
			position: relative;
			overflow: hidden;
			-webkit-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			-moz-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			cursor: pointer;
			
			&:before{
				content: '';
				@include pos($t:0,$l:0);
				
			}
			&:hover &:before{
				background-color: rgba(176,124,247, .3);
				z-index: 2;
			}
			&__date{
				margin: 20px;
				width: 62px;
				height: 62px;
				font: $f-bold 30px $font;
				text-transform: uppercase;
				text-align: center;
				color: $white;
				background-color: rgba(87, 92, 102, 0.4);
				-webkit-border-radius: 5px;
				        border-radius: 5px;
				.date__text{
					font-size: 21px;
				}
			}
			&__header{
				font-weight: $f-bold;
				font-size: 22px;
				color: $white;
				
			}
			&__info{
				padding-top: 20px;
				font: $f-light 14px $font;
			}
				.tile__bg{
				 //width: 100%;
				 //min-height: 100%;
				 
				 @include pos($t:0, $l:0, $r:0, $b:0, $z:-1);
				}
		}
	}
	.button__wrap{
		
		
		.blog__button{
		//width: 200px;
		margin: 0 auto;
		height: 55px;
		background: $blog-bt;
		color: $white;
		text-transform: uppercase;
		font: 20px $font;
		-webkit-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			-moz-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
		
		}
	}
	
}


