.header{
	width: 100%;
	background: url(../images/header-bg.jpg) no-repeat top center;
	background-size: cover;
	
	.container{
		max-height: 100vh;
		min-height: 950px;
		
	}
	&__logo{
		height: 150px;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;

		.logo__link{
			
			&__img{
				 width: 130px;
				 height: 60px;
			}
		}

		.nav__menu{
			display: flex;
			-webkit-justify-content: space-around;
			        justify-content: space-around;
			
			
			.menu{
				
				&:hover{
					margin-top: -3px;
					border-top: 3px solid $header-hover;
				}
				&::first-child{
					
				}
				&__link{
					
					font:$f-bold 16px/34px $font;
					color: $dark-text;
					text-transform: uppercase;
				}
			}
		}
	}
	&__body{
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		    
		.header__head{
			font: $f-heavy 56px $font;
		}
		
		.header__text{
			margin: 20px 0;	
		}

		.header__button{
			width: 200px;
			height: 60px;
	  		color: white;
			background: $orange;
			font: $f-light 22px $font;
			margin-left: 15px;
			
			text-align: center;
			border: none;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			-moz-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
		}
	}
	&__footer{
		position: relative;
		     height: 100px;
		     
		.footer__link{
			@include pos($b:100px, $r:50%);
			position: fixed;
			//z-index: 2;
		}

		.footer__icon{
			
			width: 30px; 
			height: 40px;

		}
	}
}