.services{
	height: 790px;
	width: 100%;
	background: $services-bg;
	font-family: $font;
	
	.container{
		
	}
	.services__buttons{
		height: 460px;
		display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-end;
	        align-items: flex-end;
		margin: 180px 0 150px;
		 

		.button__wrap{
			background: $white;
			width: 400px;
			-webkit-box-shadow: -2px 8px 41px -7px rgba(0,0,0,1);
				-moz-box-shadow: -2px 8px 41px -7px rgba(0,0,0,1);
				box-shadow: -2px 8px 41px -7px rgba(0,0,0,1);
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
		 	.button__text{
		 		background: $white;
			    width: 300px;
			    height: 100px;
			    font: $f-bold 20px $font;
			    color: $dark-text;
			    padding: 0 2.5% 0 10%;
			    }
			.button__icon{
	            display: block;
	            width: 98px;
	            height: 100px;
	            padding-left: 22px;
	            border-left: 2px solid #9d9d9d;
			    font-size: 50px;
	            line-height: 100px;   
			}
		} 
	}
	.skills__logo{
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		 position: relative;
		.logo__header{
			font-size: 90px;
			width: 560px;
			font-weight: $f-bold;
			color: #FFF;
			position: absolute;
			top: 50%;
			left: 47%;
			transform: translateX(-50%) translateY(-50%);
			//@include pos($t: 50px, $l: 50px);
			//@include align($vert: true, $hor: false);
		}
		.logo__bg{
				
			&--img{
				width: 460px;
				height: 540px;
			}
		}
	}


}