.subccribe{
	width: 100%;
	height: 500px;
	background: #FFF;
	background: url('../images/gallery-bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
       	-o-background-size: cover;
      	   background-size: cover;
	
	&__wrapper{
	padding: 140px 0 160px 0;
	
	.subscribe__header{
		width: 610px;
		font: $f-bold 40px $font;
	}
	.subscribe__text{
		font: 16px $font;
		line-height: 24px;
		padding: 20px 0;
	}
	.main__form{

		.field__item{
			line-height: 55px;
			margin-left: 15px;
			border: 1px solid $dark-text;
			margin-right: 30px;
			
			&::-webkit-input-placeholder{
				font: 14px $font ;
			}
		}
		.button{
			height: 55px;
			background-color: $subscribe-bt;
			color: $white;
			text-transform: uppercase;
			font: 20px $font;
			-webkit-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			-moz-box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
			box-shadow: 1px 5px 20px -4px rgba(0,0,0,1);
		}
	}
}
}
